.home-page {
    width: 100%;
    max-width: 1440px;
    padding: 0.25rem 1rem;
}

@media screen and (min-width: 90em) {
    .home-page {
        margin-top: 3.4375rem;
        padding: 0 10.3125rem;
    }

    .home-page__main {
        display: flex;
    }
}