.navigation {
    position: absolute;
    top: 0;
    right: -16rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 16rem;
    min-height: 100vh;
    padding: 1.6875rem 1.25rem;
    background-color: var(--off-white);
    z-index: 10;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
}

.navigation--visible {
    right: 0;
    visibility: visible;
}

.navigation__close-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 5.4375rem;
}

.navigation__close-button {
    cursor: pointer;
}

.navigation__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0.25rem;
    line-height: 1.325;
}

.navigation__list >:not(:last-child) {
    margin-bottom: 1.5rem;
}