:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

html {
    font-size: 100%;
}

body {
    background-color: var(--off-white);
    color: var(--very-dark-blue);
    -webkit-font-smoothing: antialiased;
    font-family: 'Inter', sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}

h1 {
    font-size: 1.5rem;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

button {
    outline: none;
    border: none;
    background: none;
}

ol, ul {
	list-style: none;
}

a {
    text-decoration: none;
}